include LICENSE
include README
include tensorflow/THIRD_PARTY_NOTICES.txt
recursive-include * *.py
recursive-include * *.pyd
recursive-include * *.pyi
recursive-include * *.pd
recursive-include * *.so
recursive-include * *.so.2.15.0
recursive-include * *.dylib
recursive-include * *.dll
recursive-include * *.lib
recursive-include * *.csv
recursive-include tensorflow *
